

   
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
    
  }
  
  .card {
    position: relative;
    background-color: #fff;
    color: black;
    width: 300px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  .heading {
    position:absolute;
    top: -25px;
    left: 20px;
    background-color: #ff00b4;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    
  }
  
